section
	.strategy__wrapper
		.content__strategy.container
			.content__Stitle TUYÊN NGÔN CHIẾN LƯỢC
			.target__wrapper
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.target__item
								h2.target__Isteps 01
								h2.target__Itarget MỤC TIÊU 2030
								p.target__Itext Độ nhận biết đầu tiên: 60% trong (nhóm khách hàng mục tiêu)
						.swiper-slide
							.target__item
								h2.target__Isteps 02
								h2.target__Itarget MỤC TIÊU 2030
								p.target__Itext Tỉ số lợi nhuận trước thuế và lãi vay (EBIT margin): 8%
						.swiper-slide
							.target__item
								h2.target__Isteps 03
								h2.target__Itarget MỤC TIÊU 2030
								p.target__Itext Xếp hàng đầu trong các công ty ngành du lịch Việt Nam
						.swiper-slide
							.target__item
								h2.target__Isteps 04
								h2.target__Itarget MỤC TIÊU 2030
								p.target__Itext Xếp hạng MỘT nhà tuyển dung hấp dẫn nhất trong các công ty du lịch Việt Nam
						.swiper-slide
							.target__item
								h2.target__Isteps 05
								h2.target__Itarget MỤC TIÊU 2030
								p.target__Itext Xếp hạng MỘT nhà tuyển dung hấp dẫn nhất trong các công ty du lịch Việt Nam
					.swiper-pagination