section.news__wrapper
	.container-fluid
		.row.blog___wrapper
			.col-3.news__text
					.news__Ttitle.news-defaul
						h2 TIN TỨC
					.newsText__desc
						.newsTextDesc__item.active TIN AN TÍN GROUP
						.newsTextDesc__item THÔNG TIN BÁO CHÍ
						.newsTextDesc__item THÔNG TIN HỢP TÁC
					.project--text.dropdown.newsText__desc
						h3 TIN TỨC
						.dropdown-content
							.newsTextDesc__item.active TIN AN TÍN GROUP
							.newsTextDesc__item THÔNG TIN BÁO CHÍ
							.newsTextDesc__item THÔNG TIN HỢP TÁC
			.col-9.swiper__wrapper
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							.blog__big
								img(src="./assets/Main/i-4/1.png", alt="blogBig")
								.blog__text
									p.lcl.lcl-2 An Tín Ký Kết Hợp Tác Cùng Ủy Ban Thương Hiệu Xuất Sắc Châu Á Thái Bình Dương Và Vifolac
						.swiper-slide
							.blog__big
								img(src="./assets/Main/i-4/2.png", alt="blogBig")
								.blog__text
									p.lcl.lcl-2 An Tín Travel Sẵn Sàng Bùng Nổ Trong Kỷ Nguyên 4.0
						.swiper-slide
							.blog__big
								img(src="./assets/Main/i-4/3.png", alt="blogBig")
								.blog__text
									p.lcl.lcl-2 Maldives - Khám Phá Chốn Thiên Đường Nơi Hạ Giới
				.swiper-pagination-1