section
	.container.producer-wrapper
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<=7;i++)
					.swiper-slide
						.product__item
								img(src=`./assets/Main/i-5/${i}.png`, alt="producer")
		.swiper-button-prev
		.swiper-button-next